@tailwind base;
@tailwind components;
@tailwind utilities;

@import '~antd/dist/antd.dark.less'; // 引入官方提供的暗色 less 样式入口文件
@import '~antd/dist/antd.compact.less'; // 引入官方提供的紧凑 less 样式入口文件

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

:root {
  --bgColor: #121316;
  --borderRadius: 16px;
}
.bd-icon:hover {
  cursor: pointer;
  // color: rgba(96, 138, 252, 0.719);
  // svg {
  //   fill: rgba(96, 138, 252, 0.719);
  //   stroke: rgba(96, 138, 252, 0.719);
  // }
}
.border {
    border: 1px solid #303030;
}